body
{
   background-color: #33a02b;
   
}

.calculator
{
    position: absolute;
    margin-top: -195px;
    margin-left: -108;
    top: 50%;
    left: 50%;
    width: 216px;
    height: 389px;
    box-shadow: 15px 10px 35px 3px rgba(1, 1, 1, 0.2);
    border: 2px black solid;
    z-index: 1;
}

.view
{
    width: 216px;
    height: 82px;
    background-color: #2b414d;
}

.informations
{
    height: 40%;
    position: relative;
}

.memory
{
    width: 10%;
    height: 100%;
    color: white;
    padding-left: 5px;
    padding-top: 5px;
    font-family: Arial;
    position: absolute;
    top:2px;
}

.ecuatie
{
   position: absolute;
   width: 80%;
   height: 60%;
    top: 2px;
    right: 2px;
   text-align: right;
   padding-top: 10px;
   padding-right: 10px;
   color: rgba(255, 255, 255, 0.4);
   font: 13px Arial;
   overflow: hidden;
}

.display
{
    height: 60%;
    width: 100%;
    text-align: right;
    background-color: #2b414d;
    border: 0px;
    color: #ffffff;
    font-family: HelveticaNeue;
    font-size: 35px;
}

.keyboard
{
    width: 216px;
    height: 308px;
}

.t0, .t1, .t2, .t3, .t4, .t5
{
    height: 51px;
    width: 216px;
    font-size: 0px;
}

.buton
{
    width: 54px;
    height: 52px;
    display: inline-block;
    text-align: center;
}

.buton0
{
    width: 108px;
    height: 52px;
    display: inline-block;
    text-align: center;
}

.interior
{
    width: 100%;
    height: 100%;    
}

.interior:hover, .interior:focus {
    background: #C7C7C7;
    text-decoration: none;
}

.interior:active {
    background: #5C5AA6;
    opacity: 0.5;
    text-decoration: none;
}

.memorie
{
    background-color: #f4b459;
}

.operator
{
    background-color: #e37948;
}

.clear
{
    background: grey;
}

input
{
    outline: none;
    border-style: none;
    border-left: 1px black solid;
    border-top: 1px black solid;
    box-sizing : border-box;
    
}

.tiny_image
{
    position: fixed;
    height: 30%;
    width: 20% auto;
    left: 40px;
    bottom: 40px;
    z-index: 0;
}

.history
{
    background: rgba(200, 54, 54, 0.5); 
    border-radius: 5px;
    margin: auto;
    width: auto;
    height: auto;
    text-align: center;
    font-family: cursive;
    font-family: Arial;
}